.signup-page h1, sub, .route{
    text-align: center;
}
.signup-page{
    background: #ffffff;
    width: 30%;
    margin-left: 35%;
    padding: 2em;
    position: absolute;
    top: 3%;
}
.signup-form{
    display: flex;
    flex-direction: column;
}
.name{
    display: flex;
}
.privacy{
    display: flex;
    font-size: 10px;
}

.login-link{
    text-decoration: none;
    color: #bbbbbb;
    margin-left: 2%;
}
.signup-button{
    height: 5vh;
    width: 30vw;
    border: none;
    color: #ffffff;
    background: #1f28eb;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .signup-page{
        margin-left: 5%;
        width: 75%;
    }
    .signup-button{
        width: 75vw;
    }
    .firstname input, .lastname input{
        width: 35vw;
        margin-right: 5%;
    }
}