.dashboard-top{
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    margin-top: -2%;
}
.available{
    background: #000000;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 5px;
}
.available-top{
    display: flex;
    justify-content: space-between;
    width: 12vw;
}
.flag{
    height: 4vh;
    margin-top: 7%;
}
.savings{
    padding: 0.5em;
    border-right: 1px solid #f5f5f5;
    width: 12vw;
}
@media screen and (max-width: 768px) {
    .savings, .available{
        width: 30vw;
    }
}