.statistics{
    padding: 1em;
}
.canvas{
    height: 35vh !important;
    width: 80vw !important;
    background: '#ffffff' !important;
}
@media screen and (max-width: 768px) {
    .canvas{
        height: 90vh !important;
    }
}