.sidebar{
    height: 94vh;
    width: 10%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin-top: -4.7%;
}
.sidebar-link{
    color: #83879b;
    text-decoration: none;
    margin-bottom: 10%;
}
.sidebar img{
    padding-right: 0.5em;
}
.bottom{
    display: flex;
    flex-direction: column;
    margin-top: 60%;
}